#先将所有文件忽略
/*
/*/

#在指定要上传的文件
!/polybar/
!/ranger/
ranger/plugins/__pycache__/*
ranger/colorschemes/__pycache__/*
ranger/folders.conf
!/kitty/
!/alacritty/
!/fish/
!/neofetch/
!/omf/
!/.Xmodmap
!/.zshrc
!/.gitignore
#!/llpp.conf
!/README.md
!/vimium-options.json
!/zsh
!/mutt/
/mutt/accounts/*
!/package-list
!/jesseduffield/
/jesseduffield/lazygit/*
!/jesseduffield/lazygit/config.yml
!/.tmux.conf
!/tmux/
ranger/colorschemes/__init__.pyo
ranger/colorschemes/default.pyo
ranger/plugins/__init__.pyo
ranger/plugins/devicons.pyo
ranger/plugins/devicons_linemode.pyo
!/pudb/
/pudb/*
!/pudb/pudb.cfg
!/bin
!/lmk
!/.yabairc
!/Default.bttpreset
!/rofi/
!/picom/
!/dunst

jesseduffield/lazynpm/state.yml

ranger/__pycache__/commands.cpython-39.opt-1.pyc
